{% set  _ = 'footer' %}
<div class="{{ _ }}">
    <div class="container">
        <div class="{{ _ }}__top">
            <div class="logo">
                <strong>w</strong>
                <span>sender</span>
            </div>

            <a href="#" class="btn btn--green js--open-modal">Заказать звонок</a>
        </div>
    </div>
    <div class="container">
        <div class="{{_}}__bottom">
            <span>2023 © Wsender</span>
            <a href="#" class="link">Пользовательское соглашение</a>
            <a href="#" class="link">Политика конфиденциальности</a>

        
        </div>
    </div>

</div>


</body>